body {
  background: #e8eaf0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #4d606d;
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
}
h2 {
  color: #4d606d;
  display: block;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  margin-bottom: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 14px;
  color: #4d606d;
  line-height: 20px;
}
li::first-letter {
  text-transform: capitalize;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #4d606d;
}
a:link {
  text-decoration: none;
}

.small-cont {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 1px;
  padding: 30px;
  border: 2px solid #d2d4d9;
  border-radius: 10px;
  background-color: white;
}
.celsiusfahrenheit {
  font-size: 14px;
  position: relative;
  top: -32px;
}
.degree {
  color: #4d606d;
  font-size: 60px;
  font-weight: 400;
  line-height: 100px;
}
.weather-details {
  position: relative;
  top: 24px;
}
.imgdescription {
  position: relative;
  top: -30px;
  text-align: center;
  margin-left: -40px;
}
.btn-primary {
  background-color: #40bac2;
  border: 2px solid #40bac2;
}
.btn-primary:hover {
  background-color: #40bac2;
  border: 2px solid #40bac2;
  opacity: 0.7;
  transition: 2ms;
}
.weather-temperature .active {
  color: #4d606d;
  cursor: default;
}

.weather-forecast {
  margin-top: 23px;
  text-align: center;
  color: #4d606d;
}

.weather-forecast-day {
  padding: 15px;
  line-height: 2;
}
.weather-forecast-day:hover {
  background-color: rgba(64, 186, 194, 0.3);
  transition: 2ms;
  border-radius: 10px;
}

.weather-forecast-date,
.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.7;
}
